.App {
  text-align: center;

  background-color: #1C1C1C;
  padding-top: 30px;
  font-family: 'Courier New', Courier, monospace;

}



/*  COLORS 
#0F0F0F 
#1C1C1C 
#2C2C2C 
#FFFFFF 
#7F00FF  */

/* 
#0F0F0F (siyah)
#1C1C1C (koyu mor)
#2C2C2C (daha açık mor)
#FFFFFF (beyaz)
#00FFFF (turkuaz)
*/